.container {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.recipe-header-div {
    height: 9vh;
    width: 100%;
    background-color:tomato;
}
.recipe-header {
    display: flex;
    align-items: center;
    height: 100%;
    
}
.back-btn {
    font-size: 2rem;
    margin: 0.75rem;
    color: white;
}
.label-detail {
    margin-left: 3rem;
    color: white;
}
.recipe-detail-div {
    display: grid;
    grid-template-columns:repeat(auto-fit,  minmax(5rem, 30rem));
    gap: 2.5rem;
    margin: 4rem 2rem 1rem 2rem;
}
.ingred-yield {
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}
.ingred-list {
    list-style: none;
}
.ingred-item {
    font-size: 1.5rem;
    margin: 1.2rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    border-bottom: rgba(128, 128, 128, 0.356) 1px solid;
    animation: moveInRight 1.5s ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(2.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.info-div {
    padding: 1rem;
}
.info-title {
    font-weight: 900;
    font-size: 2rem;
}
.info-img {
    width: 19rem;
    border-radius: 1rem;
    margin: 2rem 1rem;
}
.info-calori {
    font-weight: 400;
    font-size: 1.35rem;
    margin-left: 2rem;
}
.info-calori-span {
    font-size: 1.5rem;
}
.info-url-btn {
    width: auto;
    height: auto;
    border-radius: 4rem;
    font-family: inherit;
    border: none;
    background-color: tomato;
    margin: 1rem 0 0 2rem;
    outline: none;
    padding:  3px 10px;
    
    transition: all 0.5s;
    border: black 1px solid;
}
.info-url-btn:hover {
    transform: translateY(-3px);
    background-color: white;
}
.info-url-btn:hover > .info-url-anchor{
    color: tomato;
}
.info-url-anchor {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}


